{% extends "index.html" %}

{% block navigation %}
<li><a href="/">Presentación</a></li>
<li class="active"><a href="/examples">Ejemplos</a></li>
<li><a href="/me">Personal</a></li>
<li><a href="/highcharts">Highcharts</a></li>
<li><a href="/maps">Maps</a></li>
<li><a href="/tweets">Tweets</a></li>
<li><a href="/rss">RSS</a></li>
<li><a href="/mashup">Mashup</a></li>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-sm-12"><h1>Bienvenido a la página de Ejemplos sobre MongoDB</h1></div>
    <div class="col-sm-12"><a href="/mongo_examples">¡Empezar!</a></div>
</div>
{% endblock %}