{% extends "index.html" %}

{% block navigation %}
<li><a href="/">Presentación</a></li>
<li><a href="/examples">Ejemplos</a></li>
<li><a href="/me">Personal</a></li>
<li><a href="/highcharts">Highcharts</a></li>
<li><a href="/maps">Maps</a></li>
<li><a href="/tweets">Tweets</a></li>
<li><a href="/rss">RSS</a></li>
<li class="active"><a href="/mashup">Mashup</a></li>
{% endblock %}

{% block main %}
<div id="container" style="width:100%; height:400px;"></div>

<script>
    $.get("/get_mashup_data", function (response) {
        console.log("response: ", response);
        var json = JSON.parse(response);

        $(function () {
            Highcharts.chart('container', {
                chart: {
                    type: 'pyramid',
                    marginRight: 100
                },
                title: {
                    text: 'Tweets per language',
                    x: -50
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b> ({point.y:,.0f})',
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                            softConnector: true
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                series: [{
                    name: 'Unique users',
                    data: json
                }]
            });
        });
    });
</script>
{% endblock %}