{% extends "mongo_examples.html" %}

{% block navheader %}
    <li class="active"><a href="/restaurantes/find">Consultas</a></li>
    <li><a href="/restaurantes/add">Insercción</a></li>
    <li><a href="/restaurantes/remove">Eliminar</a></li>
{% endblock %}

{% block main %}
    <h1>Sección de ejemplo de búsqueda en MongoDB</h1>
    <h2>Filtro</h2>

    <form action="/restaurantes/find" method="post">
        <fieldset>
            <legend>Filtro por clave-valor</legend>
            <label>Clave</label>
            <select name="key" class="span1">
                <option value="restaurant_id">ID</option>
                <option value="cuisine">Cuisine</option>
                <option value="borough">Borough</option>
                <option value="name">Name</option>
            </select>
            <label>Valor</label>
            <input type="text" name="value">
            <button type="submit" class="btn">Filtrar</button>
        </fieldset>
    </form>

    <legend>Limpiar búsqueda</legend>
    <a href="/restaurantes/find"><button class="btn btn-primary">Limpiar Búsqueda</button></a>

    <div class="table-responsive">
        <h2>Resultados</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">id</th>
                    <th class="text-center">cuisine</th>
                    <th class="text-center">borough</th>
                    <th class="text-center">name</th>
                </tr>
            </thead>
            <tbody id="body_restaurants">
                {% for document in cursor %}
                <tr>
                    <td>{{ document.id }}</td>
                    <td>{{ document.cuisine }}</td>
                    <td>{{ document.borough }}</td>
                    <td>{{ document.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}