{% extends "mongo_examples.html" %}

{% block navheader %}
    <li class="active"><a href="/find">Consultas</a></li>
    <li><a href="/add">Insercción</a></li>
    <li><a href="/remove">Eliminar</a></li>
{% endblock %}

{% block main %}
    <h1>Sección de ejemplo de búsqueda en MongoDB</h1>
    <h2>Filtro</h2>

    <form action="/find" method="post">
        <fieldset>
            <legend>Filtro por clave-valor</legend>
            <label>Clave</label>
            <select name="key" class="span1">
                <option value="restaurant_id">ID</option>
                <option value="cuisine">Cuisine</option>
                <option value="borough">Borough</option>
                <option value="name">Name</option>
            </select>
            <label>Valor</label>
            <input type="text" name="value">
            <button type="submit" class="btn">Filtrar</button>
        </fieldset>
    </form>

    <legend>Limpiar búsqueda</legend>
    <a href="/find"><button class="btn btn-primary">Limpiar Búsqueda</button></a>

    <div class="table-responsive">
        <h2>Resultados</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">id</th>
                    <th class="text-center">cuisine</th>
                    <th class="text-center">borough</th>
                    <th class="text-center">name</th>
                </tr>
            </thead>
            <tbody id="body_restaurants">
                {% for document in cursor %}
                <tr>
                    <td>{{ document['restaurant_id'] }}</td>
                    <td>{{ document['cuisine'] }}</td>
                    <td>{{ document['borough'] }}</td>
                    <td>{{ document['name'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if totalpages > 1%}
    <ul class="pagination">
        {% for x in range(0, totalpages) %}
            <li><a onclick="getPage({{x+1}})">{{ x+1 }}</a></li>
        {% endfor %}
    </ul>

    <script>
       function getPage(n) {
           console.log(n);
            $.get("/findpage", {page:n}, function (response) {
                var array = JSON.parse(response);
                var html = "";
                $("#body_restaurants").empty()
                for (var i = 0; i < array.length; i++) {
                    html += "<tr>" +
                            "<td>"+array[i].restaurant_id+"</td>" +
                            "<td>"+array[i].cuisine+"</td>" +
                            "<td>"+array[i].borough+"</td>" +
                            "<td>"+array[i].name+"</td>" +
                            "</tr>"
                }
                console.log(html);
                $("#body_restaurants").html(html);
            });
       }
    </script>
    {% endif %}
{% endblock %}