{% extends "mongo_examples.html" %}

{% block navheader %}
    <li><a href="/restaurantes/find">Consultas</a></li>
    <li class="active"><a href="/restaurantes/add">Insercción</a></li>
    <li><a href="/restaurantes/remove">Eliminar</a></li>
{% endblock %}

{% block main %}
    <h1>Sección de ejemplo de insercción en MongoDB</h1>

    <form action="/restaurantes/add" method="post">
        <fieldset>
            <legend>Añade un nuevo restaurante</legend>
            <label>ID</label>
            <input type="text" name="id">
            <label>CUISINE</label>
            <input type="text" name="cuisine">
            <label>NAME</label>
            <input type="text" name="name">
            <label>BOROUGH</label>
            <input type="text" name="borough">
            <button type="submit" class="btn">INSERTAR</button>
        </fieldset>
    </form>
    {% if message %}
    <h4>{{ message }}</h4>
    {% endif %}
{% endblock %}