{% extends "index.html" %}

{% block navigation %}
<li><a href="/restaurantes/">Presentación</a></li>
<li class="active"><a href="/restaurantes/examples">Ejemplos</a></li>
<li><a href="/restaurantes/me">Personal</a></li>
<li><a href="/restaurantes/highcharts">Highcharts</a></li>
<li><a href="/restaurantes/maps">Maps</a></li>
<li><a href="/restaurantes/tweets">Tweets</a></li>
<li><a href="/restaurantes/rss">RSS</a></li>
<li><a href="/restaurantes/mashup">Mashup</a></li>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-sm-12"><h1>Bienvenido a la página de Ejemplos sobre MongoDB</h1></div>
    <div class="col-sm-12"><a href="/restaurantes/mongo_examples">¡Empezar!</a></div>
</div>
{% endblock %}