{% extends "index.html" %}

{% block navigation %}
<li class="active"><a href="/restaurantes/">Presentación</a></li>
<li><a href="/restaurantes/examples">Ejemplos</a></li>
<li><a href="/restaurantes/me">Personal</a></li>
<li><a href="/restaurantes/highcharts">Highcharts</a></li>
<li><a href="/restaurantes/maps">Maps</a></li>
<li><a href="/restaurantes/tweets">Tweets</a></li>
<li><a href="/restaurantes/rss">RSS</a></li>
<li><a href="/restaurantes/mashup">Mashup</a></li>
{% endblock %}

{% block main %}
<div class="inner cover">
    <h1 class="cover-heading">Descubre MongoDB</h1>
    <button id="animate-title">Animate</button>
    <p class="lead">Bienvenido a mi página personal, puedes conocer más acerca de mi en la sección
        <a class="link" href="/restaurantes/me">personal</a>, en esta página puedes encontrar ejemplos de uso con la base de datos MongoDB en
        la sección <a class="link" href="/restaurantes/ejemplos"> Ejemplos</a>. </p>
    <button id="a-color">Cambiar color enlaces</button>
</div>
{% endblock %}