{% extends "mongo_examples.html" %}

{% block navheader %}
    <li class="active"><a href="/restaurantes/find">Consultas</a></li>
    <li><a href="/restaurantes/add">Insercción</a></li>
    <li><a href="/restaurantes/remove">Eliminar</a></li>
{% endblock %}

{% block main %}
    <h1>Sección de ejemplo de búsqueda en MongoDB</h1>

    <div class="table-responsive">
        <h2>Resultados</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">id</th>
                    <th class="text-center">cuisine</th>
                    <th class="text-center">borough</th>
                    <th class="text-center">name</th>
                </tr>
            </thead>
            <tbody id="body_restaurants">
                {% for document in cursor %}
                <tr>
                    <td>{{ document.restaurant_id }}</td>
                    <td>{{ document.cuisine }}</td>
                    <td>{{ document.borough }}</td>
                    <td>{{ document.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if totalpages %}
    <ul class="pagination">
        {% for x in totalpages %}
            <li><a onclick="getPage({{x}})">{{x}}</a></li>
        {% endfor %}
    </ul>

    <script>
       function getPage(n) {
           console.log(n);
            $.get("/restaurantes/findpage", {page:n}, function (response) {
                var array = JSON.parse(response);
                var html = "";
                $("#body_restaurants").empty()
                for (var i = 0; i < array.length; i++) {
                    html += "<tr>" +
                            "<td>"+array[i].restaurant_id+"</td>" +
                            "<td>"+array[i].cuisine+"</td>" +
                            "<td>"+array[i].borough+"</td>" +
                            "<td>"+array[i].name+"</td>" +
                            "</tr>"
                }
                console.log(html);
                $("#body_restaurants").html(html);
            });
       }
    </script>
    {% endif %}
{% endblock %}