{% extends "index.html" %}

{% block navigation %}
<li><a href="/restaurantes/">Presentación</a></li>
<li><a href="/restaurantes/examples">Ejemplos</a></li>
<li><a href="/restaurantes/me">Personal</a></li>
<li><a href="/restaurantes/highcharts">Highcharts</a></li>
<li><a href="/restaurantes/maps">Maps</a></li>
<li class="active"><a href="/restaurantes/tweets">Tweets</a></li>
<li><a href="/restaurantes/rss">RSS</a></li>
<li><a href="/restaurantes/mashup">Mashup</a></li>
{% endblock %}

{% block main %}

    {% if tweets %}
        <div class="container">
            <br>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    {% for i in range(1, tweets|length) %}
                        <li data-target="#myCarousel" data-slide-to="{{i}}"></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <p>{{tweets[0]}}</p>
                    </div>

                    {% for i in range(1, tweets|length) %}
                    <div class="item">
                        <p>{{tweets[i]}}</p>
                    </div>
                    {% endfor %}
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    {% endif %}

{% endblock %}