{% extends "index.html" %}

{% block navigation %}
<li><a href="/">Presentación</a></li>
<li><a href="/examples">Ejemplos</a></li>
<li><a href="/me">Personal</a></li>
<li class="active"><a href="/highcharts">Highcharts</a></li>
<li><a href="/maps">Maps</a></li>
{% endblock %}

{% block main %}
<div id="container" style="width:100%; height:400px;"></div>

<script>
    $.get("/get_borough_data", function (response) {
        console.log("response: ", response);
        var json = JSON.parse(response);

        $(function () {
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Restaurant\'s boroughs'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                series: [{
                    name: 'Counts',
                    colorByPoint: true,
                    data: json
                }]
            });
        });
    });
</script>
{% endblock %}