{% extends "index.html" %}

{% block navigation %}
<li><a href="/">Presentación</a></li>
<li><a href="/examples">Ejemplos</a></li>
<li class="active"><a href="/me">Personal</a></li>
<li><a href="/highcharts">Highcharts</a></li>
{% endblock %}

{% block main %}
<div class="inner cover">
    <h1 class="cover-heading">Sergio Padilla López</h1>
    <p class="lead">Desarrollador de aplicaciones nativas.</p>
    <p class="lead">Conecta conmigo en mis principales redes y conóce más acerca de mi.</p>
</div>
{% endblock %}