{% extends "index.html" %}

{% block navigation %}
<li><a href="/">Presentación</a></li>
<li><a href="/examples">Ejemplos</a></li>
<li class="active"><a href="/me">Personal</a></li>
<li><a href="/highcharts">Highcharts</a></li>
<li><a href="/maps">Maps</a></li>
<li><a href="/tweets">Tweets</a></li>
<li><a href="/rss">RSS</a></li>
<li><a href="/mashup">Mashup</a></li>
{% endblock %}

{% block main %}
<div class="inner cover">
    <a class="twitter-follow-button"
       data-show-count=false
       href="https://twitter.com/sergiopadillalp">Follow @SergioPadillaLP</a>
    <a href="/twitter-timeline">Go to twitter timeline</a>
    <h1 class="cover-heading">Sergio Padilla López</h1>
    <p class="lead">Desarrollador de aplicaciones nativas.</p>
    <p class="lead">Conecta conmigo en mis principales redes y conóce más acerca de mi.
</div>
{% endblock %}