<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic Image</title>
</head>
<body>
    <h1 style="color: green">Instructions!</h1>
    <p>Write the url 'mandelbrotsimple?x1='valor'&y1='valor'&x2='valor'&y2='valor'&pixels='valor' to calculate the fractal image</p>
    <p>You have another option with more parameters to configure:</p>
    <p>add to the url before the parameters: paleta='1|2'&n='valor', if you want other result for fractal</p>
    <p>Where 2 < n < 20 and paleta allow you to choose between 2 selections of color</p>
</body>
</html>