{% extends "index.html" %}

{% block navigation %}
<li class="active"><a href="/">Presentación</a></li>
<li><a href="/tutoriales">Tutoriales</a></li>
<li><a href="/me">Personal</a></li>
{% endblock %}

{% block main %}
<div class="inner cover">
    <h1 class="cover-heading">Descubre Android</h1>
    <p class="lead">Bienvenido a mi página personal, puedes conocer más acerca de mi en la sección
        <a href="/me">personal</a>, o comienza a desarrollar aplicaciones android con ayuda de estos
        <a href="/tutoriales"> tutoriales</a>. </p>
</div>
{% endblock %}