{% extends "index.html" %}

{% block navigation %}
<li class="active"><a href="/">Presentación</a></li>
<li><a href="/examples">Ejemplos</a></li>
<li><a href="/me">Personal</a></li>
{% endblock %}

{% block main %}
<div class="inner cover">
    <h1 class="cover-heading">Descubre MongoDB</h1>
    <p class="lead">Bienvenido a mi página personal, puedes conocer más acerca de mi en la sección
        <a href="/me">personal</a>, en esta página puedes encontrar ejemplos de uso con la base de datos MongoDB en
        la sección <a href="/ejemplos"> Ejemplos</a>. </p>
</div>
{% endblock %}