<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Web site!</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div id="header">
        <div id="logo_and_titles">
            <a href="index.html"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
            <div id="titles">
                <h1>MAIN TITLE</h1>
                <h2>Subtitle</h2>
            </div>
        </div>
        <div id="form_session">
			{% from "_formhelper.html" import render_field %}
			<form method=post action="/register">
			  <dl>
				{{ render_field(form.username) }}
				{{ render_field(form.password) }}
				{{ render_field(form.confirm) }}
			  </dl>
			  <p><input type=submit value=Register>
			</form>
        </div>
	</div>
	<div id="body">
		<div>
			<ul id="navigation">
				<li class="current">
					<a href="index.html" class="link1">Home</a>
				</li>
				<li>
					<a href="surfbase.html" class="link2">Surf Base</a>
				</li>
				<li>
					<a href="newsblog.html" class="link1">News &amp; Blog</a>
				</li>
				<li>
					<a href="about.html" class="link2">About</a>
				</li>
				<li>
					<a href="contact.html" class="link1">Contact</a>
				</li>
			</ul>
			<div id="home">
				<h1><span>Best Surfing</span></h1>
				<h2>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.</h2>
				<div class="section">
					<a href="surfbase.html">Go To <span>Surf Base</span></a>
				</div>
				<div class="news">
					<h3>News &amp; Blog</h3>
					<a href="newsblog.html" class="figure"><img src="{{ url_for('static', filename='images/surfing2.png') }}" alt="Image"></a>
					<div>
						<h4><a href="newsblog.html">This is just a place holder</a></h4>
						<p>
							This website template is for free. This is just a place holder, so you can see what the site would look like. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. <a href="newsblog.html" class="more">(more)</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<div id="author">
				<h3>Author</h3>
				<p>
					Sergio Padilla López
				</p>
			</div>
			<div id="connect">
				<h3>Social</h3>
				<a href="https://github.com/SergioPadilla" id="github" target="_blank">GitHub</a>
			</div>
		</div>
		<p>
			&copy; Copyright 2016. All rights reserved.
		</p>
	</div>
</body>
</html>