<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Web site!</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div id="header">
        <div id="logo_and_titles">
            <a href="index"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
            <div id="titles">
                <h1>MAIN TITLE</h1>
                <h2>Subtitle</h2>
            </div>
        </div>
		{% if user %}
		<div class="welcome">
			<h2>Welcome {{user}}</h2>
			<a href="/logout">Log out</a>
		</div>
		{% elif form %}
        <div id="form_session">
			{% from "_formhelper.html" import render_field %}
			<form method=post action="/">
			  <dl>
				{{ render_field(form.username) }}
				{{ render_field(form.password) }}
				{{ render_field(form.confirm) }}
			  </dl>
			  <p><input type=submit value=Register>
			</form>
        </div>
		{% endif %}
	</div>
	<div id="body">
		<div>
			<ul id="navigation">
				{% block navigation %}{% endblock %}
			</ul>
			{% block content %}{% endblock %}
		</div>
	</div>
	<div id="footer">
		<div>
			<div id="author">
				<h3>Author</h3>
				<p>
					Sergio Padilla López
				</p>
			</div>
			<div id="connect">
				<h3>Social</h3>
				<a href="https://github.com/SergioPadilla" id="github" target="_blank">GitHub</a>
			</div>
		</div>
		<p>
			&copy; Copyright 2016. All rights reserved.
		</p>
	</div>
</body>
</html>