{% extends "index.html" %}
{% block navigation %}
<li>
    <a href="/" class="link1">Home</a>
</li>
<li>
    <a href="sites" class="link2">Sites Visited</a>
</li>
<li>
    <a href="newsblog" class="link1">News &amp; Blog</a>
</li>
<li>
    <a href="about" class="link2">About</a>
</li>
<li>
    <a href="contact" class="link1">Contact</a>
</li>
<li class="current">
    <a href="#" class="link2">Personal</a>
</li>
<li>
    <a href="sites" class="link1">Sites Visited</a>
</li>
{% endblock %}
{% block content %}
<div id="personal">
    <h2>Personal Section</h2>
    {% if username %}
    <p>Here, your personal data save in the DB:</p>

    <div>
        <label class="title">Username:</label>
        <label class="value">{{username}}</label>
    </div>
    <div>
        <label class="title">Password:</label>
        <label class="value">{{password}}</label>
    </div>

    <div></div>

    <p>Complete this form to change your password (username must be the same)</p>
    <div class="registerform">
        {% from "_formhelper.html" import render_field %}
        <form method=post action="/me">
          <dl>
            {{ render_field(form_register.username) }}
            {{ render_field(form_register.password) }}
            {{ render_field(form_register.confirm) }}
          </dl>
          <p><input type=submit value=Register>
        </form>
    </div>
    <div class="error" >
        {% if error %}
        <p style="color: red">{{error}}</p>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}