{% extends "index.html" %}
{% block navigation %}
<li>
    <a href="/" class="link1">Home</a>
</li>
<li>
	<a href="surfbase" class="link2">Surf Base</a>
</li>
<li>
    <a href="newsblog" class="link1">News &amp; Blog</a>
</li>
<li>
    <a href="about" class="link2">About</a>
</li>
<li>
    <a href="contact" class="link1">Contact</a>
</li>
<li>
    <a href="me" class="link2">Personal</a>
</li>
<li class="current">
    <a href="#" class="link1">Sites Visited</a>
</li>
{% endblock %}
{% block content %}
<div id="home">
    <h1><span>Enjoy surfing the Website!</span></h1>
    <div class="section">
        <a href="surfbase">Go To <span>Surf Base</span></a>
    </div>
    <div class="section">
        <a href="newsblog">Go To <span>News Blog</span></a>
    </div>
    <div class="section">
        <a href="about">Go To <span>About</span></a>
    </div>
    <div class="section">
        <a href="contact">Go To <span>Contact</span></a>
    </div>
    <div class="section">
        <a href="me">Go To <span>Personal Section</span></a>
    </div>
</div>
{% endblock %}